@use "../node_modules/sass-true/sass/true";
@use "../src/flex-gap" as *;

@include true.describe("[mixin] flex-gap") {
	@include true.it("Understands positive numbers") {
		@include true.assert {
			@include true.output {
				@include flex-gap(10px);
			}
			@include true.expect {
				margin-right: -10px;
				margin-bottom: -10px;

				> * {
					margin-right: 10px;
					margin-bottom: 10px;
				}
			}
		}
	}

	@include true.it("Understands negative numbers") {
		@include true.assert {
			@include true.output {
				@include flex-gap(-10px);
			}
			@include true.expect {
				margin-right: 10px;
				margin-bottom: 10px;

				> * {
					margin-right: -10px;
					margin-bottom: -10px;
				}
			}
		}
	}

	@include true.it("Can accept multi-directional values") {
		@include true.assert {
			@include true.output {
				@include flex-gap(10px 20px);
			}
			@include true.expect {
				margin-right: -20px;
				margin-bottom: -10px;

				> * {
					margin-right: 20px;
					margin-bottom: 10px;
				}
			}
		}
	}
}
